hr {
    width: 100%;
    margin: 1rem auto;

    border: 3px solid gray;
    border-radius: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-1 {
    display: flex;
    align-items: flex-start;
}

.page-1 > .item {
    flex: 1 2 0;
}

.page-1 > .item-sub {
    flex-grow: 1;
}

.page-1 > .item-main {
    flex-grow: 2;
}

.page-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.page-2 > .item {
    flex: 2 1 0;
}

.page-2 > .item-main {
    flex-grow: 2;
}

.page-2 > .item-sub {
    flex-grow: 1;
}

.item {
    padding: 0 0;
}

.item > div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}