<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW BEOMS</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home-header.css">
    <link rel="stylesheet" href="/css/home-layout.css">
    <link rel="stylesheet" href="/css/home-container.css">
</head>
<body>

<div class="header">
    <div class="logo-img-box"><img class="logo-img" src="/imgs/logo.png" alt=""></div>
    <div class="logo">
        <div class="logo-title"><a href="/">NEW BEOMS</a></div>
        <div class="logo-subtitle">간편한 게임 소식지</div>
    </div>
</div>

<div class="container">
    <div class="item search">
        <label for="search_input"></label><input type="text" name="tag" id="search_input" placeholder="기사 태그 검색">
        <button type="submit" id="search_button">
            <img class="search-icon" src="/imgs/search_icon.png" alt="">
        </button>
    </div>

    <div class="item news">
        <button class="arrow-button" type="button" id="news_left_arrow_button">
            <img class="left-arrow-icon arrow" src="/imgs/arrow_icon.png" alt="">
        </button>

        <button class="news-button" type="button" id="news_button">
            <span class="news-main" th:each="publicationDate : ${publicationDates}"
                  th:id="${publicationDate.getDate()}">
                <img class="news-image" src="/imgs/2024-04-18.png" alt=""
                     th:src="|/imgs/${publicationDate.getDate()}.png|">
                <span class="news-intro">기사 보기</span>
            </span>
        </button>

        <button class="arrow-button" type="button" id="news_right_arrow_button">
            <img class="right-arrow-icon arrow" src="/imgs/arrow_icon.png" alt="">
        </button>
    </div>

    <div class="item card">
        <!-- TODO -->
    </div>
</div>

<script src="/js/home.js"></script>
</body>
</html>