<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW BEOMS</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/news-layout.css">
    <link rel="stylesheet" href="/css/news-header.css">
    <link rel="stylesheet" href="/css/news-item.css">
    <link rel="stylesheet" href="/css/news-item-sub.css">
</head>
<body>

<div class="header">
    <div class="logo-img-box"><img class="logo-img" src="/imgs/logo.png"></div>
    <div class="logo">
        <div class="logo-title"><a href="/">NEW BEOMS</a></div>
        <div class="logo-subtitle">간편한 게임 소식지</div>
    </div>
</div>

<hr>

<div class="container">

    <div class="page-1">
        <div class="item item-sub">
            <div class="item-sub-box">
                <div class="publication-date">[2024-04-18]</div>
            </div>
            <div class="item-sub-box weekly-game-news">
                <div class="item-sub-box-header">WEEKLY GAME NEWS</div>
                <div>Analyst 최범규</div>
                <div><a class="text-underline" href="https://blog.naver.com/ddongmmelier">https://blog.naver.com/ddongmmelier</a></div>
                <br>
                <div>Developer 권도훈</div>
            </div>
            <div class="item-sub-box gossip">
                <div class="item-sub-box-header">
                    <b>GOSSIP</b>
                </div>
                <div class="gossip-contents" id="gossip-contents">
                </div>
            </div>
            <div class="item-sub-box comingsoon">
                <div class="item-sub-box-header">
                    <b>COMING SOON</b>
                </div>
                <div class="comingsoon-contents" id="comingsoon-contents">
                    <div class="comingsoon-box">
                        <div class="comingsoon-day"></div>
                        <div class="comingsoon-content"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-main">
            <div class="content-header">
                <div class="content-title" id="news-title-1"></div>
                <div class="content-subtitle" id="news-subtitle-1"></div>
            </div>
            <div class="content-img-box" id="news-img-1">
            </div>
            <div class="content-main">
                <div id="news-content-1"></div>
            </div>

            <div class="content-header">
                <div class="content-title" id="news-title-2"></div>
                <div class="content-subtitle" id="news-subtitle-2"></div>
            </div>
            <div class="content-img-box" id="news-img-2">
            </div>
            <div class="content-main">
                <div id="news-content-2"></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="page-2">
        <div class="item item-main">
            <div class="content-header">
                <div class="content-title" id="news-title-3"></div>
                <div class="content-subtitle" id="news-subtitle-3"></div>
            </div>
            <div class="content-img-box" id="news-img-3">
            </div>
            <div class="content-main">
                <div id="news-content-3"></div>
            </div>
            <div class="content-header">
                <div class="content-title" id="news-title-4"></div>
                <div class="content-subtitle" id="news-subtitle-4"></div>
            </div>
            <div class="content-img-box" id="news-img-4">
            </div>
            <div class="content-main">
                <div id="news-content-4"></div>
            </div>
        </div>

        <div class="item item-sub">
            <div class="item-sub-box hardware-news">
                <div class="item-sub-box-header">
                    HARDWARE NEWS
                </div>
                <div class="item-sub-box-content hardware-news-contents" id="hardware-news-contents">
                </div>
            </div>
            <div class="item-sub-box work-cited" >
                <div class="item-sub-box-header">WORK CITED</div>
                <div id="work-cited-contents"></div>
            </div>
        </div>
    </div>

</div>

<div class="footer">

</div>

</body>
</html>